[Unit]
Description=Rongzao Flask Application
After=network.target

[Service]
Type=simple
User=www-data
WorkingDirectory=/root/rongzao-server
ExecStart=/root/rongzao-server/.venv/bin/python /root/rongzao-server/app.py
Restart=always
RestartSec=10

# 日志输出
StandardOutput=append:/root/rongzao-server/app.log
StandardError=append:/root/rongzao-server/app.log

[Install]
WantedBy=multi-user.target